{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Цена за единицу</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Итог за строку</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.product.title }}</th>
                        <th>{{ product.price }} руб.</th>
                        <th>
                            <a class="btn custom-button-pill" href="{% url 'sub_from_cart' product.id %}">-</a>
                            {{ product.count }} {{ product.units }}
                            <a class="btn custom-button-pill" href="{% url 'add_to_cart' product.id %}">+</a>
                        </th>
                        <th>{% widthratio product.count 1 product.price %} руб.</th>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row"><b>Итог</b></th>
                    <th></th>
                    <th></th>
                    <th><b>{{ total_price }} руб.</b></th>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <form method="post" action="">
                {% csrf_token %}
                <div class="container">
                    <div class="row roww">
                        <div class="col">
                            <label for="date_of_delivery">Дата доставки:</label>
                        </div>
                        <div class="col">
                            <input type="date" name="date_of_delivery" id="date_of_delivery" required>
                        </div>
                    </div>
                    <div class="row roww">
                        <div class="col">
                            <label for="address_of_delivery">Адрес доставки:</label>
                        </div>
                        <div class="col">
                            <input type="text" name="address_of_delivery" id="address_of_delivery" required>
                        </div>
                    </div>
                    <div class="row roww">
                        <div class="col">
                            <label for="type_of_payment">Тип оплаты:</label>
                        </div>
                        <div class="col">
                                {% for payment_type in payment_types %}
                                    <p>
                                    <input type="radio" name="type_of_payment" id="type_of_payment" value="{{ payment_type.id }}">
                                    {{ payment_type.name }}
                                    </p>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="row roww">
                        <div class="col">
                            <label for="commentary_for_order">Комментарий к заказу:</label>
                        </div>
                        <div class="col">
                            <textarea name="commentary_for_order" id="commentary_for_order"></textarea>
                        </div>
                    </div>
                    <div class="row roww">
                        <button type="submit" class="btn custom-button-pill">Оформить заказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <style>
        .roww {
            padding: 1em 1em 1em 0em;
            margin-right: 40%;
        }
    </style>
{% endblock %}