{% extends 'base.html' %}
{% block content %}
<div class="row expanding-div">
    <div class="col-12" style="margin-bottom: 0px" id="filters-container">
        Фильтры
        <form action="" method="get">
            {{ form.as_p }}
            <input type="submit" value="Поиск">
            <button type="reset" onclick="location.href='{% url 'product_list' %}'">Сбросить</button>
        </form>
        <p>Показано {{ products_count_filtered }} из {{ products_count }}</p>
    </div>
        {% include 'objects/card.html' with orders=orders %}
    </div>
</div>

<style>
.expanding-div {
    display: inline-flex;
    margin-bottom: 2em;
    /* Другие стили для div */
  }
</style>
{% endblock %}
